.venv 
.venv/
.venv/**
src/poppy_s.egg-info
src/poppy_s.egg-info/
src/poppy_s.egg-info/**
dist
dist/
dist/**
__pycache__
**/__pycache__
__pycache__/
**/__pycache__/
__pycache__/**
**/__pycache__/**
.pytest_cache
.pytest_cache/
.pytest_cache/**
